<section class="container">
  <div class="row">
    <div class="col-sm-12">
      <a ui-sref="login" class="pull-right">Login</a>

      <h1>AngularFire <small>Example</small></h1>

      <hr>

      <div class="text-center">
        <p ng-if="todo.AuthService.authData.provider == 'facebook'">
          <img ng-src="{{todo.AuthService.authData.facebook.profileImageURL}}" alt="" width="50px" style="border-radius: 50%;">
          Hello {{todo.AuthService.authData.facebook.displayName}}!
          User ID: {{todo.AuthService.authData.uid}}
        </p>

        <p ng-if="todo.AuthService.authData.provider == 'anonymous'">
          Hello guest!
          User ID: {{todo.AuthService.authData.uid}}
        </p>
      </div>

      <ul class="Todo-list list-group">
        <li class="Todo-listItem list-group-item"
            ng-repeat="listItem in todo.list"
            ng-class="{'is-edited': listItem.edit}">

          <span ng-show="!listItem.edit"
                ng-click="todo.editItem($index)"
                class="Todo-itemLabel">{{listItem.name}}</span>
          <span ng-if="listItem.edit">
            <form>
              <input type="text" ng-model="listItem.name" class="form-control">
              <hr>
              <button type="submit"
                      class="btn btn-info btn-sm"
                      ng-click="todo.updateItem($index)">Save</button>
              <button class="btn btn-default btn-sm"
                      ng-click="todo.restoreItem($index)">Cancel</button>
            </form>
          </span>

          <div class="pull-right">
            <button class="btn btn-danger btn-xs"
                    ng-click="todo.removeItem($index)"
                    ng-show="!listItem.edit">Remove</button>
          </div>

        </li>
      </ul>

      <hr>

      <form ng-submit="todo.addItem(todo.newItemField)">
        <div class="input-group">
          <input ng-model="todo.newItemField"
                 type="text"
                 class="form-control"
                 autocomplete="off"
                 ng-required="true"
                 placeholder="Add new item here...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Add</button>
          </span>
        </div>
      </form>

    </div>
  </div>
</section>
