<section class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="pull-right">
        <a ui-sref="login" ng-show="!login.AuthService.currentUser">Login</a>
        <a ui-sref="todo">Todo</a>
        <a ui-sref="presence">Presence</a>
      </div>


      <h1>Login</h1>

      <form>
        <!--<div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" ng-model="login.username">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="login.password">
        </div>-->

        <div ng-if="!login.AuthService.currentUser" class="text-center">
          <button class="btn btn-primary btn-lg" type="submit" ng-click="login.loginAsGuest()">Login as Guest</button>
          <button class="btn btn-primary btn-lg" ng-click="login.facebookLogin()">Login With Facebook</button>
        </div>
        <div ng-if="login.AuthService.currentUser">
          <button class="btn btn-danger btn-lg" ng-click="login.logout()">Logout</button>
        </div>
      </form>

      <div ng-if="login.AuthService.currentUser.provider == 'facebook'">
        <img ng-src="{{login.AuthService.currentUser.facebook.profileImageURL}}" alt="">
        Hello {{login.AuthService.currentUser.facebook.displayName}}!
        User ID: {{login.AuthService.currentUser.uid}}
      </div>

      <div ng-if="login.AuthService.currentUser.provider == 'anonymous'">
        Hello guest!
        <!--User ID: {{login.AuthService.currentUser.uid}}-->
      </div>

      <!--<pre>{{login.AuthService.currentUser | json}}</pre>-->

    </div>
  </div>
</section>
