<section class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>Todo List</h1>

      <ul class="list-group">
        <li class="list-group-item" ng-repeat="listItem in home.list">
          {{listItem.name}}
          <button class="btn btn-info btn-xs pull-right" ng-click="home.removeItem($index)">Remove</button>
        </li>
      </ul>

      <hr>

      <form ng-submit="home.addItem(home.newItemField)">
        <div class="input-group">
          <input ng-model="home.newItemField"
                 type="text"
                 class="form-control"
                 autocomplete="off"
                 ng-required="true"
                 placeholder="Add new item here...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Add</button>
          </span>
        </div>
      </form>

    </div>
  </div>
</section>
