<section class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>Todo List</h1>

      <ul class="list-group">
        <li class="list-group-item" ng-repeat="listItem in home.list">
          <span ng-show="!listItem.edit">{{listItem.name}}</span>
          <span ng-show="listItem.edit">
            <input type="text" ng-model="listItem.name">
          </span>

          <div class="pull-right">
            <button class="btn btn-info btn-xs" ng-click="home.updateItem($index)" ng-show="listItem.edit">Save</button>
            <button class="btn btn-default btn-xs" ng-click="home.restoreItem($index)" ng-show="listItem.edit">Cancel</button>
            <button class="btn btn-info btn-xs" ng-click="home.editItem($index)" ng-show="!listItem.edit">Edit</button>
            <button class="btn btn-danger btn-xs" ng-click="home.removeItem($index)" ng-disabled="listItem.edit">Remove</button>
          </div>

        </li>
      </ul>

      <hr>

      <form ng-submit="home.addItem(home.newItemField)">
        <div class="input-group">
          <input ng-model="home.newItemField"
                 type="text"
                 class="form-control"
                 autocomplete="off"
                 ng-required="true"
                 placeholder="Add new item here...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Add</button>
          </span>
        </div>
      </form>

    </div>
  </div>
</section>
